@import "colores";
@import "letra";

* { 
    padding:0; 
    margin:0;
}

body {
    background: linear-gradient(-45deg, #069b1f, #000000, #293058, #0a0d96);
	background-size: 400% 700%;;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: EB Garamond !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Menu de navegacion Bootstrap */

.navbar {
    padding: 2%;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .nav-link {
        font-size: 25px !important;
    }
}

.nav-link {
    color: $color-letra !important;
    font-size: 45px;
    
    &:hover {
        background-color: whitesmoke !important;
        padding: 8px 12px;
        border-radius: 28px;
        transition: 1s;
        color: black !important;
    }
}

/* Card con foto y redes */

.perfil {
    margin: 0 auto;
    padding-top: 3%;
}
.cuerpo {
    border-radius: 45px;
    background-color: #111612;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        &:hover {
            background: #1a1717;
            box-shadow:  -22px -22px 44px #bababa, 22px 22px 44px #ffffff;
            transition: 0.5s;
        }
}

.imagen {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: whitesmoke;
    .foto {
        width: 50%;
        border-radius: 50%;
        padding: 2%;
    }
}

.info {
    text-align: center;
    color: whitesmoke;
}

.redes {
    text-align: center;
    padding: 2%;
    a {
        text-decoration: none;
    }
    .redes__icon {
        height: 60px;
        &:hover {
            height: 65px;
            transition: 0.5s;
        }
    }
}

hr {
    color: whitesmoke;
    align-self: center;
    width: 60%;
}

/* Pagina Servicios */

.card {
    margin: auto;
    margin-top: 3%;
    width: 25rem;
        &:hover {
        width: 25.5rem;
        transition: 1s;

    }

    .card-body {
        background-image: $color-fondo;
        color: $color-letra;
        .card-text {
            font-size: 20px !important;
        }
        a {
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .card {
        width: 18rem !important;
    }
}

/* PDF dentro de la pagina */

.pdf {
    display: flex;
    justify-content: center;
}

/* Footer con animacion */

footer a {
    color: $color-letra;
    text-decoration: none;
    font-size: 30px;
    
    &:hover {
        background-color: whitesmoke;
        padding: 8px 12px;
        border-radius: 0.5em;
        transition: 0.5s;
        color: black;
    }
}

.pieDePagina {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.animate__heartBeat {
    display: inline-block;
}

@mixin titulo {
    color: $color-letra;
    font-size: $letra-titulos;
    text-align: center;
}

/* Pagina de Formacion Academica, se agrego un carrusel con bootstrap  */

.educacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-letra;
    font-size: 25px;

    .tituloEducacion {
        @include titulo;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .tituloEducacion {
        font-size: $letra-titulos - 20;
    }
}

.educacion ol, ul {
    padding-left: 0%;
}

#carouselExampleInterval {
    margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .educacion {
        font-size: 16px;
    }
}

.conocimientos {
    color: $color-letra;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .conocimientos {
        font-size: 20px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .conocimientos {
        font-size: 25px;
    }
}

/* Pagina Proyectos, se uso bootstrap para un acordion  */

.tituloProyectos {
    @include titulo;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .tituloProyectos {
        font-size: $letra-titulos - 20;
    }
}

.proyectos {
    margin: auto;
}

.botonGithub a {
    color: black;
    text-decoration: none;
    &:hover {
        font-size: 18px;
        transition: 0.5s;
    }
}

.accordion-button {
    color: black;
    p {
        font-size: 23px !important;
        margin-bottom: 0;
    }
}

.accordion-body {
    background-image: $color-fondo;
    font-size: 25px;
    color: $color-letra;
}

@media screen and (min-width: 320px) and (max-width: 989px) {
    .col-5 {
        width: 95%;
    }
}

.infoContacto {
    text-align: center;
    margin: auto;
    font-size: 25px;
    color:$color-letra;

    .tituloContacto {
        font-size: $letra-titulos;
    }

    .iconoTelefono {
        height: 34px;
    }

    .iconoMail {
        height: 34px;
    }
}

/* Pagina Contacto */

.contactar {
    text-align: center;
    color: $color-letra;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .tituloContacto {
        font-size: $letra-titulos - 20 !important;
    }
}

.form-select {
    margin: 0 auto;
    width: 20%;
}

.nombremail {
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 989px) {
    .col-4 {
        width: 90%;
    }
}

.form-floating {
    margin: 0 auto;
    .form-control {
        resize: none;
    }
}

.botonenviar {
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    color: #0f0c29;
}
