* { 
    padding:0; 
    margin:0; 
    font-family: EB Garamond !important;
}

.colorBody {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding: 4%;
    
}

.menu div {
    display: inline-block;
}

a {
    color: whitesmoke;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .menu {
        display: flex;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        padding: 5%;
    }

    .menu div {
        display: block;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: center;
        font-size: 35px;
        text-align: center;
        padding: 5%;
    }

    .menu div {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu {
        display: flex;
        justify-content: center;
        font-size: 40px;
        text-align: center;
        padding: 5%;
    }

    .menu div {
        display: block;
    }
}

.card {
    margin: 0 auto;
    width: 25% !important;
}

.card-body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: whitesmoke;
}

.pieDePagina {
    grid-area: pieDePagina;
}

.pieDePagina {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1rem;
}

.experiencia {
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .experiencia {
        font-size: 17px;
        margin-top: 3%;
        padding: 4%;
    }

}

.educacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
}

.educacion ol, ul {
    padding-left: 0%;
}

.educacion {
    font-size: 25px;
}

#carouselExampleInterval {
    margin: 0 auto;
    width: 20%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .educacion {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        text-align: center;
    }
}

.conocimientos {
    color: whitesmoke;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .conocimientos {
        font-size: 20px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .conocimientos {
        font-size: 25px;
    }
}

.tituloProyectos {
    font-size: 65px;
    text-align: center;
    color: whitesmoke;
}

.proyectos {
    margin: 0 auto;
    width: 40%;
}

.accordion-button {
    color: black;
}

.accordion-button p {
    font-size: 18px !important;
}


.accordion-body {
    background-color: black;
    font-size: 25px;
    color: whitesmoke;
}

.infoContacto {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    color: whitesmoke;
}
.contactar {
    text-align: center;
    color: whitesmoke;
}

.form-select {
    margin: 0 auto;
    width: 20%;
}

.nombremail {
    margin: 0 auto;
}

.form-floating {
    margin: 0 auto;
}

.botonenviar {
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
}

a:hover {
    background-color: whitesmoke;
    padding: 10px 15px;
    border-radius: 10%;
    transition: 1.5s;
    color: black;
}

.botonEnviar {
    color: #0f0c29;
}


