* { 
    padding:0; 
    margin:0; 
    font-family: EB Garamond;
    color: #FFF7BC;
}

.colorBody {
    background-image: linear-gradient(180deg, #65736e 0, #586d68 12.5%, #496763 25%, #37605d 37.5%, #1f5959 50%, #005156 62.5%, #004a54 75%, #004453 87.5%, #003d52 100%);
}

#grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "menu"
    "informacion"
    "pieDePagina";
}

.menu {
    grid-area: menu;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding: 4%;
    
}

.menu div {
    display: inline-block;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .menu {
        display: flex;
        justify-content: center;
        font-size: 25px;
        text-align: center;
        padding: 5%;
    }

    .menu div {
        display: block;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: center;
        font-size: 35px;
        text-align: center;
        padding: 5%;
    }

    .menu div {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu {
        display: flex;
        justify-content: center;
        font-size: 40px;
        text-align: center;
        padding: 5%;
    }

    .menu div {
        display: block;
    }
}

.card {
    margin: 0 auto;
    width: 35% !important;
}

.card-body {
    background-color: rgb(0, 0, 0);
}

.pieDePagina {
    grid-area: pieDePagina;
    
}

.pieDePagina {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1rem;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia {
    font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .experiencia {
        font-size: 17px;
        margin-top: 3%;
        padding: 4%;
    }

}

.educacion {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.educacion ol, ul {
    padding-left: 0%;
}

.educacion {
    font-size: 25px;
}

#carouselExampleInterval {
    margin: 0 auto;
    width: 20%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .educacion {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        text-align: center;
    }
}

.conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .conocimientos {
        font-size: 20px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .conocimientos {
        font-size: 25px;
    }
}

.tituloProyectos {
    font-size: 65px;
    text-align: center;
}

.proyectos {
    margin: 0 auto;
    width: 40%;
}

.accordion-button {
    color: black;
}

.accordion-body {
    background-color: black;
    font-size: 25px;
}

.contacto {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 25px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "infoContacto"
    "caja";
}

.infoContacto {
    grid-area: infoContacto;
}

.caja {
    grid-area: caja;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .contacto {
        font-size: 20px;
        padding: 4%;
    }

    .infoContacto {
        padding: 3%;
    }

    .infoContacto h1 {
        font-size: 26px;
        margin-bottom: 4%;
    }
}

a {
    color: #FFF7BC;
}

a:hover {
    background-color: black;
    padding: 10px 15px;
    border-radius: 10%;
    transition: 1s;
    color: #FFF7BC
}

.botonEnviar {
    color: #0f0c29;
}


