* { 
    padding:0; 
    margin:0; 
    font-family: EB Garamond !important;
}

.colorBody {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.navbar {
    margin: 0 auto;
    width: 75%;
    padding: 2%;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.navbar-toggler {
    border-color: whitesmoke;
}

.navbar-toggler-icon {
    background-color: whitesmoke;
}

.nav-link {
    color: whitesmoke;
    font-size: 45px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .nav-link {
        font-size: 35px;
    }
}

.nav-link:hover {
    background-color: whitesmoke;
    padding: 8px 12px;
    border-radius: 10%;
    transition: 1s;
    color: black;
}

.card {
    margin: 0 auto;
    margin-top: 3%;
    width: 25rem;
}

.card-body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: whitesmoke;
}

.card-body a {
    color: whitesmoke;
    text-decoration: none;
}

.card-body a:hover {
    background-color: whitesmoke;
    padding: 8px 12px;
    border-radius: 10%;
    transition: 1s;
    color: black;

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .card {
        width: 18rem !important;
    }
}

.pieDePagina {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1rem;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

footer a:hover {
    background-color: whitesmoke;
    padding: 8px 12px;
    border-radius: 10%;
    transition: 1s;
    color: black;
}

.tituloExperiencia {
    color: whitesmoke;
    font-size: 65px;
    text-align: center;
}


.educacion {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
}

.tituloEducacion {
    font-size: 65px;
}

.educacion ol, ul {
    padding-left: 0%;
}

.educacion {
    font-size: 25px;
}

#carouselExampleInterval {
    margin: 0 auto;
    width: 20%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .educacion {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        text-align: center;
    }
}

.conocimientos {
    color: whitesmoke;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .conocimientos {
        font-size: 20px;
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .conocimientos {
        font-size: 25px;
    }
}

.tituloProyectos {
    font-size: 65px;
    text-align: center;
    color: whitesmoke;
}

.proyectos {
    margin: 0 auto;
    width: 40%;
}

.accordion-button {
    color: black;
}

.accordion-button p {
    font-size: 18px !important;
}


.accordion-body {
    background-color: black;
    font-size: 25px;
    color: whitesmoke;
}

.infoContacto {
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    color: whitesmoke;
}
.contactar {
    text-align: center;
    color: whitesmoke;
}

.form-select {
    margin: 0 auto;
    width: 20%;
}

.nombremail {
    margin: 0 auto;
}

.form-floating {
    margin: 0 auto;
}

.botonenviar {
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
}

.botonEnviar {
    color: #0f0c29;
}

